
body.app{
    // background-image: url(../images/foto-diputacion-alicante.jpg) !important;
    background-size: cover!important;
    background-position: 0% 100%!important;
    background-repeat: no-repeat!important;
}
